

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff;
    opacity: 1
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}