label{
	margin-left: 20px;
}
#datepicker{
/* 	width:180px; 
	margin: 0 20px 20px 20px; */
}
#datepicker > span:hover{
	cursor: pointer;
}
#datepicker2 > span:hover{
	cursor: pointer;
}
#datepicker3 > span:hover{
	cursor: pointer;
}

#datepicker4 > span:hover{
	cursor: pointer;
}
#datepicker5 > span:hover{
	cursor: pointer;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: pointer;
    background-color: #fff;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #aaa;
}

a{
	text-decoration: none;
}